name: Sync Wiki

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Sync Wiki
        uses: spenserblack/actions-wiki-sync@v0.1.0
        with:
          wiki_root: docs
          wiki_commit_message: "chore: sync wiki from docs"
